* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap&#039;");

body {
  font-family: Nunito;
  background-color: rgb(231, 255, 255);
}
.hed {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 56px;
  align-items: center;
  justify-content: space-between;
}
.s1 {
  font-size: 18px;
  width: 700;
  color: #25282b;
  margin-left: 120px;
  margin-top: 18px;
}
.ulhed {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 120px;
  margin-top: 18px;
}
.left {
  display: flex;
  flex-direction: column;
  
  width: 480px;
  margin-left: 100px;
  margin-top: -80px;
}
.left-h5 {
  font-size: 20px;
  color: #fdc435;
  width: 700;
}
.left-h1 {
  color: #25282b;
  font-size: 64px;
  line-height: 120%;
  width: 486px;
  height: 154px;
}
.left-p {
  color: #828282;
  font-size: 24px;
  line-height: 150%;
  width: 486px;
  height: 108px;
  margin-top: 30px;
}
.left-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
.btn1 {
  background-color: #ffcc00;
  counter-reset: #25282b;
  border: none;
  border-radius: 8px;
  padding: 8px 24px 8px 24px;
  text-align: center;
}
.btn2 {
  background-color: white;
  counter-reset: #25282b;
  border-radius: 8px;
  padding: 8px 24px 8px 24px;
  text-align: center;
}
.alltop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.allsec{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.lin{
  border: #FDC435 solid 2px;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  margin-top: 5px;
}
.alldivs{
  display: flex;
  flex-direction: column;
}
.div1{
  display: flex;
  margin-top: 100px;
  
}
.div1-left{
  background-color: white;
  width: 496px;
  height: 524px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.div1-1{
  margin-top:200px;
  margin-left: 80px;
  gap: 24px;
  display: flex;
  flex-direction: column;
justify-content: center;
}
.div1-h1{
  font-size: 40px;
  font-weight: 700;
  color: #25282B;
}
.div1-p{
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  width: 350px;

}
.div1-btn{
  border: #25282B solid 1px;
  border-radius: 24px;
  padding: 8px 24px 8px 24px;
  width: 150px;
  height: 43px;
}
.img-right1{
  border-bottom-right-radius:30px ;
  border-top-right-radius: 30px;
}
.div2{
  display: flex;
  width: 992px;
  height: 524px;
 margin-top: 100px;
}
.img-left2{
  height: 524px;
  width: 496px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.div2-right{
  background-color: white;
  height: 524px;
  width: 496px;
  border-bottom-right-radius:30px ;
  border-top-right-radius: 30px;
}
.div2-2{
 margin-top:200px;
  margin-left: 80px;
  gap: 24px;
  display: flex;
  flex-direction: column;
justify-content: center;
}
.div2-h1{
  font-size: 40px;
  font-weight: 700;
  color: #25282B;
}
.div2-p{
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  width: 350px;
}
.div2-btn{
  border: #25282B solid 1px;
  border-radius: 24px;
  padding: 8px 24px 8px 24px;
  width: 150px;
  height: 43px;
}
.div3{
  display: flex;
  flex-direction: row;
  width: 992px;
  height: 524px;
 margin-top: 100px;
}
.div3-left{
  background-color: white;
  display: flex;
  height: 524px;
  width: 496px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px; }
.div3-2{
  margin-top:50px;
  margin-left: 80px;
  gap: 24px;
  display: flex;
  flex-direction: column;
justify-content: center;
}
.div3-h1{
font-size: 40px;
  font-weight: 700;
  color: #25282B;
}
.div3-p{
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  width: 350px;
}
.div3-btn{
  border: #25282B solid 1px;
  border-radius: 24px;
  padding: 8px 24px 8px 24px;
  width: 150px;
  height: 43px;}

  .img3{
height: 524px;
  width:550px;
   border-bottom-right-radius:30px ;
  border-top-right-radius: 30px;
  }
  .foter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 192;
    height: 102;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .uls{
    display: flex;
    gap: 20px;
    list-style: none;
  }
  .foter-p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
  }